:root{
    --color-base: #fef988; 
    --color-letra: #6f6f69; 
}

*,
::before,
::after {
  box-sizing: border-box;
  border: 0;
}

.card {
  position: relative;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 0.9rem;
  border-radius: 0.7rem;
  padding: 0.5rem;
}

.menu-btn {
  width: 1.4rem;
  height: 1.4rem;
}

.menu-btn:hover {
  cursor: pointer;
}

.date {
  padding-right: 0.4rem;
}

.card-section {
  position: relative;

  width: 50%;
  max-height: 5rem;
  overflow-y: hidden;
}

.card-section:hover {
  cursor: pointer;
}

.container-opciones {
  position: relative;
}

.container-menu {
  position: absolute;
  border-radius: 0.5rem;
  top: 10%;
  right: 20%;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 10;
  display: flex;
  flex-direction: column;
  width: 120px;
}

.container-menu span {
  padding: 5px 10px;
  cursor: pointer;
}

.container-menu span:hover {
  background-color: #f0f0f0;
}

.container-edit{
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 100%;
  height: 100dvh;
  align-items: center;
}

.titulo{
  width: 100%;
  font-size: 2rem;
  padding-bottom: .1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.titulo:focus{
  outline: none;
}

.contenido{
  width: 100%;
  height: 100%;
  resize: none;
}

.contenido:focus{
outline: none;
}

.btn-guardar {
  position: fixed;
  right: 2rem;
  background-color: var(--color-base);
  color:  var(--color-letra);
  padding: 0.8rem 1.2rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.4);
   transition: transform 0.2s ease-out;
}

.btn-guardar:hover{
  transform: scale(1.1);
  cursor: pointer;
}