
*,
::before,
::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  margin: 0;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 12rem;
  margin: 1rem;
}

.non {
  color: var(--color-letra);
  letter-spacing: 1rem;
}

.button-add-note {
  margin: 1rem;
  width: 3.5rem;
}

.button-add-note:hover {
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 1rem 0;
  font-size: 0.9rem;
}

footer a {
  color: #807d7d;
  text-decoration: none;
}
